/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE LAYOUT
  /*******************************************/
  
  #about  {
    margin-bottom: 30px;
  }

  #footer>ul>li  {
    margin: 5px;
  }

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem;            /* Footer height */
}

footer>ul  {
  margin: auto;
  text-align: center;
}

  
  /******************************************
  /* STYLING
  /*******************************************/
  
  body{
    background-color: rgb(22, 21, 21);
    margin: 3%;
  }

  h1    {
      color: white;
  }
  
  .text {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }

    
  a.text , a {
    text-decoration: none;
    color: red;
  }

  #footer>ul>li {
    list-style: none;
    display: inline;
  }
  
  .hide {
    display: none;
  } 


  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  
  @media screen and (max-width: 800px) {
   footer>ul{
    display: flex;
    flex-direction: column;
   }
  } 