/* Box Model Hack */
* {
   box-sizing: border-box;
 }
  
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
  
.clear {
    clear: both;
}
  
/******************************************
/* BASE LAYOUT
/*******************************************/

header{
    margin: auto;
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: white solid .1px;
    margin-bottom: 30px;
}


.nav>a  {
    margin: 5px;
    margin-top: 15px;
}


.middleSection{
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.sectionList    {
    margin: 80px;
    margin-bottom: 80px;
}


.sectionList>div    {
    max-height: 30px;
}


.titles{
  margin: auto;
  text-align: center;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
  margin: 0;
  text-align: center;
}

/* Footer Attatchment to Bottom below */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;            /* Footer height */
    display: flex;
    justify-content: center;
  }


footer>*  {
  margin: 50px;
}
  



/******************************************
/* STYLING
/*******************************************/

body {
  background-color: rgb(22, 21, 21);
}
  
.text {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

a , .at {
  text-decoration: none;
  color: red;
  font-family: 'Josefin Sans', sans-serif;
}
  
.hide {
  display: none;
}
  
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
  
  
@media screen and (max-width: 800px) {

  .middleSection{
    flex-direction: column;
    justify-content: center;
  }

  .sectionList{
    margin: 40px;
  }

}
  
@media screen and (min-width: 1500px){

}